<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
</head>
<body>
<img src="/assets/images/cookies.bmp" alt="Cute cookie banner">
<hr>

{{{body}}}

<hr>
<a target="_blank" href="https://icons8.com/icon/VhNdKaE85bsC/cookie-jar">Cookie Jar</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> ||
<a target="_blank" href="https://icons8.com/icon/ngwfLozvYPm3/cookies">Cookies</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</body>
</html>